{% extends 'base.html' %}

{% block content %}
    <form action="/add">
        <br>
        <button>Add a Pet</button>
    </form>

    <h1>Pets at our Shelter!</h1>
    {% for pet in pets %}
        <div> 
            <img src="{{pet.photo_url}}" alt="">  
            <p><a href="/{{pet.id}}">{{pet.name}}</a>
                {% if pet.available %}
                    <b>is available!</b>
                {% endif %}
            </p>
        </div>
    {% endfor %}
    
    <h1>Random Pet from our partners at Pet Finder</h1>
        <div> 
            <img src="{{random_pet.photo_url}}" alt="">  
            <p>{{random_pet.name}}<br>
                Age: {{random_pet.age}}
            </p>
        </div>
    

{% endblock %}